/*样式*/
/*css初始化*/
* {
    margin: 0;
    padding: 0; /*清除内外边距*/
}
ul {
    list-style: none; /*去掉列表默认样式*/
}
/*清除浮动影响*/
.clearfix:before,.clearfix:after {
    display: table;
    content: '';
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a {
    color: #050505;
    text-decoration: none; /*取消下划线*/
}
input {
    border: 0; /*所有的表单边框为0*/
    box-sizing: border-box; /*css3盒子模型，会把border和padding都包含到width里面去*/
}
body {
    background-color: #f3f5f7;/*页面背景色*/
}
/*页面头部*/
header {
    height: 100px;
    overflow: hidden; /*防止外边距合并的问题*/
}
nav {
    height: 42px;
    width: 1366px;
    margin: 26px auto; /*盒子水平居中对齐*/
}
/*logo部分*/
.logo img{
    width: 128px;
    height: 42px;
    float: left;
}
/*导航栏部分*/
.navbar {
    float: left;
    height: 42px;
    line-height: 42px; /*行高会继承在父元素中写即可*/
    margin-left: 50px;
}
.navbar li {
    float: left; /*导航栏在一行显示*/

}
.navbar li a {
    padding: 0 10px; /*上下0 左右8像素*/
    display: block; /*a是行内元素，给高需要转换为行内块元素*/
    height: 42px;
}
.navbar li a:hover {
    border-bottom: 2px solid #00a4ff;
}
/*搜索框部分*/
.search {
    width: 410px; /*360+50*/
    height: 38px;
    border: 1px solid #00a4ff;
    float: right;
}
.search input[type=text] { /*属性选择器 type 为text的文本框*/
    width: 360px;
    height: 38px;
    padding-left: 20px;
    float: left;
}
.search input[type=submit] {/*属性选择器 type 为submit的文本框*/
    width: 50px;
    height: 38px;
    float: left;
    background: skyblue url("../images/search.png") center center no-repeat;
    background-size: 30px;
}
/*个人中心*/
.personal  {
    float: right;
    height: 42px;
    line-height: 42px;
    margin:0 15px 0 35px; /*上 右 下 左*/
}
.personal img {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    vertical-align: middle; /*中线对齐*/
}

/*banner部分*/
.banner {
    height: 420px;
    background-color: #1c036c;
}
.container {
    width: 1200px;
    margin: 0 auto; /*所有的版心都要居中对齐*/
}
.banner-in {
    height: 420px;
    background: url("../images/banner.jpg") 190px 0 repeat-y;
    position: relative; /*子绝父相 用于小圆点定位*/
}
/*侧边栏*/
.slidebar {
    height: 420px;
    width: 190px;
    background: rgba(0,0,0,0.3); /*盒子背景半透明*/
    float: left;
}
.slidebar li a {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    display: block;/*a是行内元素，给高要转化为行内块元素*/
    height: 45px;
    line-height: 45px; /*很多情况下有了行高可以不用给高度  单行垂直居中*/
}
.slidebar li a span {
    float: right;
    font-family: Arial; /*一般情况下符号使用的字体*/
}
.slidebar li a:hover {
    color: #00a4ff;
}
/*小课表*/
.classTable {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.classTable dt {
    height: 50px;
    background-color: #9bceea;
    text-align: center; /*水平居中*/
    line-height: 50px; /*垂直居中*/
    color: #fff;
    font-weight: 700; /*文字加粗*/
    letter-spacing: 2px; /*字间距*/
    margin-bottom: 5px;
}
.classTable dd:last-child { /*结构伪类选择器，取消最后一个孩子的下边框*/
    border: 0;
}
.classTable dd {
    width: 193px;
    height: 60px;
    margin: 0 auto; /*盒子居中对齐*/
    border-bottom: 1px solid #ccc; /*下边框*/
    padding-top: 12px;
    box-sizing: border-box; /*将padding加入盒模型*/
}
.classTable dd h4 {
    font-size: 16px;
    font-weight: normal; /*取消加粗*/
    color: #4e4e4e;
}
.classTable dd p {
    color: #a5a5a5;
    font-size: 14px;
}
.classTable dd a {
    height: 38px;
    border: 1px solid #00a4ff;
    display: block;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-weight: 700; /*加粗*/
}
.classTable dd a:hover {
    background-color: #00a4ff;
    color: #fff;
}
/*小圆点*/
.circle { /*圆点盒子*/
    width: 180px;
    height: 22px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -90px;
}
.circle li { /*圆点样式*/
    float: left;
    width: 12px;
    height: 12px;
    margin: 6px 8px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    cursor: pointer; /*鼠标变成小手*/
}
li.current { /*选中圆点样式*/
    width: 19px;
    border-radius: 5px;
    background-color: #fff;
}
/*精品推荐*/
.recommend {
    height: 60px;
    line-height: 60px; /*文字垂直居中*/
    background-color: #fff;
    margin-top: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2); /*给盒子加阴影   水平位置 垂直位置 模糊距离 阴影颜色*/
}
.recommend a {
    padding: 0 30px; /*上下0 左右30px*/
    border-right: 1px solid #ccc;
}
.recommend a:hover {
    color: #00a4ff;
}
.recommend a:first-child {
    color: #00a4ff;
}
.recommend a:last-child {
    color: #00a4ff;
    border: 0;
    float: right;
}
/*精品推荐大模块*/
/*精品推荐大模块头部*/
.recom-product {
    margin-top: 35px;
}
.recom-product-hd {
    height: 40px;
}
.recom-product-hd h4 {
    float: left;
    color: #494949;
}
.recom-product-hd a {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 14px;
    color: #a5a5a5;
}
.recom-product-hd a:hover {
    color: #00a4ff;
}
/*精品推荐大模块主体*/
.recom-product-bd ul li{
    width: 228px;
    height: 270px;
    background-color: #fff;
    overflow: hidden; /*溢出隐藏*/
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.recom-product-bd ul li:nth-child(5n){
    margin-right: 0;
}
.recom-product-bd li h5,
.recom-product-bd li p {
    padding: 0 20px 0 24px;
    margin-top: 12px;
}
.recom-product-bd li h5 {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
}
.recom-product-bd li span {
    color: #ff7c2d;
}
.recom-product-bd li p {
    font-size: 12px;
    color: #999;
}
/*页面底部*/
footer {
    height: 270px;
    background-color: #fff;
    margin-top: 100px;
}
.footer-in {
    padding-top: 30px;
}
/*左侧部分*/
.footer-l {
    float: left;
}
.footer-l p{
    font-size: 12px;
    line-height: 18px;
    color: #999;
    margin-top: 20px;
}
.footer-l a {
    display: block;
    width: 118px;
    height: 32px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 32px;
    margin-top: 15px;
}
.footer-l a:hover {
    background-color: #00a4ff;
    color: #fff;
}
/*右侧部分*/
.footer-r {
    float: right;
    color: #333;
}
.footer-r dl {
    float: left;
    width: 226px;
}
.footer-r dl:last-child {
    width: 150px;
}
.footer-r dt {
    font-size: 16px;
    height: 30px;
}
.footer-r dd {
    font-size: 12px;
    height: 20px;
}
.footer-r dd a:hover{
    color: #00a4ff;
    text-decoration: underline;
}